* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 60vw;
  margin-inline: auto;
  text-align: center;
}

h1 {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-block: 8rem;
}

/* inizio animazione */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  animation: rotate 5s linear infinite;
}

label {
  display: block;
}

input {
  border-radius: 1rem;
  text-align: center;
  width: 80%;
  margin-block: 1rem;

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  padding: 5px;
  border-radius: 1rem;
  font-size: 0.8rem;
  margin: 1rem;

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
}

div {
  margin-right: 4rem;
}

li {
  padding: 5px;
  border: 1px solid black;
  border-radius: 1rem;
}

footer {
  text-align: center;
  color: rgb(250, 250, 250);
  background-color: rgb(10, 10, 10);
  min-height: 20vh;
  line-height: 20vh;
  margin: 4rem;
}

a {
  color: rgb(250, 250, 250);
  text-decoration: none;
}
